
  </div>
<!-- / Content -->
<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        , made with ❤️ by
        <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
      </div>
      <div>
        <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
        <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

        <a
          href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
          target="_blank"
          class="footer-link me-4"
          >Documentation</a
        >

        <a
          href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
          target="_blank"
          class="footer-link me-4"
          >Support</a
        >
      </div>
    </div>
  </footer>
  <!-- / Footer -->

  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../assets/vendor/libs/popper/popper.js"></script>
<script src="../assets/vendor/js/bootstrap.js"></script>
<script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="../assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="../assets/js/main.js"></script>

<!-- Page JS -->
<script src="../assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<script>
  
</script>



<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdn.datatables.net/v/bs4/dt-1.13.4/datatables.min.js"></script>
<script src="/static/js/colorValidation.js"></script>
<script src="/static/js/categoryValidation.js"></script>
<script src="/static/js/productSizeValidation.js"></script>
<script src="/static/js/productValidation.js"></script>

<script src="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.js"></script>

<script>
  $(document).ready(function () {
    
    $("#couponForm").validate({
      rules: {
        code: {
          required: true,
        },
        discountType: {
          required: true,
        },
        discountAmount: {
          required: true,
          min: 0,
          maxPercentageAmount: true,
        },
        maxCartAmount: {
          required: true,
          min: 0,
        },
        maxDiscountAmount: {
          required: true,
          min: 0,
        },
        maxUsers: {
          required: true,
          min: 0,
        },
        expiryDate: {
          required: true,
        },
      },
      messages: {
        code: {
          required: "Please enter a coupon code.",
        },
        discountType: {
          required: "Please select a discount type.",
        },
        discountAmount: {
          required: "Please enter a discount amount.",
          min: "Discount amount must be at least 0.",
        },
        maxCartAmount: {
          required: "Please enter a maximum cart amount.",
          min: "Maximum cart amount must be at least 0.",
        },
        maxDiscountAmount: {
          required: "Please enter a maximum discount amount.",
          min: "Maximum discount amount must be at least 0.",
        },
        maxUsers: {
          required: "Please enter a maximum number of users.",
          min: "Maximum number of users must be at least 0.",
        },
        expiryDate: {
          required: "Please enter an expiry date.",
        },
      },
    });

   
    $.validator.addMethod(
      "maxPercentageAmount",
      function (value, element) {
       
        var discountType = $("#discountType").val();

        
        if (discountType === "percentage" && parseFloat(value) > 100) {
          return false; 
        }
        return true;
      },
      "Discount amount cannot be greater than 100 for Percentage discount type."
    );
  });
</script>

<!-- orderReturn confirm -->

<script>
  
  function confirmReturn(id){
    event.preventDefault()
    axios.patch('/admin/confirmReturn?id='+id)
    .then((response)=>{
      $('#categoryTable').load('/admin/OrderDetails #categoryTable',()=>{
        Toastify({
            text: response.data.message,
            backgroundColor: 'linear-gradient(to right, #00b09b, #96c93d)',
            duration: 1500,
            close: true,
            gravity: 'top', // Change this to 'top' to display the toast at the top
            position: 'right', // Change this to 'left' to display the toast on the left side
          }).showToast();
					})
    })
  }
  function cancelReturn(id){
    event.preventDefault()
    axios.patch('/admin/cancelReturn?id='+id)
    .then((response)=>{
      $('#categoryTable').load('/admin/OrderDetails #categoryTable',()=>{
        Toastify({
            text: response.data.message,
            backgroundColor: 'linear-gradient(to right, #00b09b, #96c93d)',
            duration: 1500,
            close: true,
            gravity: 'top', // Change this to 'top' to display the toast at the top
            position: 'right', // Change this to 'left' to display the toast on the left side
          }).showToast();
					})
    })
  }

  // ----- product offer
  function productOfferUpdate(id,offer){
    event.preventDefault()
    axios.put(`/admin/productOfferUpdate?id=${id}`,{offer:offer})
    .then((response)=>{
      $('#categoryTable').load('/admin/productDetails #categoryTable',()=>{
        Toastify({
            text: response.data.message,
            backgroundColor: 'linear-gradient(to right, #00b09b, #96c93d)',
            duration: 1500,
            close: true,
            gravity: 'top', // Change this to 'top' to display the toast at the top
            position: 'right', // Change this to 'left' to display the toast on the left side
          }).showToast();
					})
    })
  }
</script>



</body>
</html>
<script>
  
</script>