<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="/static/logo/b.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>shoelandia | step in style !</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="/css/linearicons.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/nouislider.min.css">
	<link rel="stylesheet" href="/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/main.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
		h4.shoelandia {
  font-family: Arial, sans-serif;
  color: #ff8800;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}
.xzoom-thumbs{
	display: flex;
}
.xzoom-thumbs img{
    display: flex;
    height: 80px;
    width: 80px;
    border: 1px solid #ccc;
}

.xzoom-preview{
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.2);
}
.otp-input {
      width: 50px;
      text-align: center;
      margin: 0 5px;
    }


    </style>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
	<!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

	<!-- Start Header Area -->
	<!-- Start Header Area -->
<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container ml-4 d-flex ">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h d-flex align-items-center justify-content-center text-center mx-auto" href="/">
                    <img src="/static/logo/b.png" alt="" width="50px" class="">
                    <h4 class="shoelandia mt-2">h o e l a n d i a </h4>
                    <img src="/static/logo/shoelandia-low-resolution-logo-color-on-transparent-background.png" alt="" width="50px" class="">
                </a>
                <!-- Collect the nav links, forms, and other content for toggling -->

            </div>
        </nav>
    </div>

</header>
<!-- End Header Area -->

	<!-- End Header Area -->
    <section class="section_gap justify-content-center">
    <div class="container">
        <div class="row d-flex">
            <div class="mx-auto">
                <img src="/static/logo/404.png" alt="">
            </div>
        </div>
    </div>
</section>
        
        <script src="/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
         crossorigin="anonymous"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/jquery.ajaxchimp.min.js"></script>
        <script src="/js/jquery.nice-select.min.js"></script>
        <script src="/js/jquery.sticky.js"></script>
        <script src="/js/nouislider.min.js"></script>
        <script src="/js/countdown.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="/js/gmaps.min.js"></script>
        <!--  -->
        <script src="/js/main.js"></script>
        <script src="/js/zoom.js"></script>
        <!--  -->
        <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/userValidation.js"></script>
        </body>
        </html>

