
<%-include('../partials/userPartials/userHeader')-%>

<section class="login_box_area section_gap mt-5">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2 class="text-center mb-4">OTP Verification</h2>
      <p class="text-center mb-4">please check your email for otp !</p>
      <% if(message){%>
        <p class="text-center mb-4 text-danger" ><%= message %></p>
   <% } %>
      <form action="otpVerificationPost" method="post">
        <div class="form-group d-flex justify-content-center">
          <input type="text" class="form-control otp-input" id="digit1" name="digit1" maxlength="1" required>
          <input type="text" class="form-control otp-input" id="digit2" name="digit2" maxlength="1" required>
          <input type="text" class="form-control otp-input" id="digit3" name="digit3" maxlength="1" required>
          <input type="text" class="form-control otp-input" id="digit4" name="digit4" maxlength="1" required>
          <input type="hidden" name="email" value="<%= email %>">
        </div>
        <!-- <a href="" id="refreshLink">resend otp ?</a> -->
        <button type="submit" class="btn btn-primary btn-block">Verify</button>
      </form>
    </div>
  </div>
</div>
</section>
<script>
  document.getElementById('refreshLink').addEventListener('click', function(e) {
    e.preventDefault(); 
    location.reload(); 
  });
</script>
<%-include('../partials/userPartials/userFooter')-%>