
<%-include('../partials/userPartials/userHeader')-%>


<!--================Login Box Area =================-->
<section class="login_box_area section_gap mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6  ">
                <div class="login_form_inner border border-warning rounded">
                    <h3>Login </h3>
                    <% if(message){%>
                        <h6 class="text-warning "><%= message %></h6>
                   <% } %>
                    <form class="row login_form" action="login" method="post" id="contactForm"
                        novalidate="novalidate" class="">
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="girikrishna.p6@gmail.com"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="123123"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Log In</button>
                        </div>
                        <div class="hover mb-3">
                            <h4>New to our website?</h4>
                            <p>Unlock Endless Possibilities: Enter Sholandia, Create Your Account Today!</p>
                            <a href="/userSignUp">Create an Account</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3"></div>
            
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

<%-include('../partials/userPartials/userFooter')-%>